dl, ol, ul {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.pagination, a{
 color:#F7971E;
 font-size: 25px;
 justify-content: center;
 letter-spacing: auto;
}
 
.e-alineacion{
    text-align: center;
} 

.e-coloresx{
    color:#F7971E !important;
    text-decoration: #F7971E !important;
}