*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
   color:#fff;
   text-decoration: none;
}

th,tr td{
    color:#fff;
    text-decoration: none;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in ; 
}

header{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:auto;
    padding: 48px;
    width: 100%;
}

.container{
    width:95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    width: 50%;
    height: 50%;
}

table{
    text-align: center;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 100px;
    height:550px;
    width: 400px; 
    border-style: 1px solid #fff;
    border-collapse: collapse;
    margin: 0 0 1em 0;
}

th,td{
    border: 1px solid #fff;
    width: 25%;
}

img, table{
    display: block;
    object-fit: cover;
    animation: arriba 1s ease-in ;
}

.iniciar a{
   padding: 0px;
   margin: 0px;
}

.textos{
    width: 50%;
    color:#fff;
}

.textos h1{
    font-size: 80px;
    animation: moverDerecha 1s ease-in ;
}

.textos h2{
    font-size: 30px;
    animation: moverIzquierda 1s ease-in ;
    padding-bottom: 100px;
}

.textos a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top:30px;
    border:1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    margin-left: 90px;
    animation: arriba 1s ease-in ;
}

.wave{
    height: 100px;
    width: 100%;  
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.enlaces{
    position: fixed;
    display: flex;
    top:0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    right: 0;
    flex-direction: column;
    transition: all 1s ease;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.uno{
    -webkit-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 0% 0%);
}

.dos{
    -webkit-clip-path: circle(150% at 0% 0%);
    clip-path: circle(150% at 0% 0%);
}

@keyframes moverIzquierda{
    0%{
        opacity:0;
        transform:translateX(-100px);
    }
    100%{
        opacity: 1;
        transform:translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity:0;
        transform:translateX(100px);
    }
    100%{
        opacity: 1;
        transform:translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity:0;
        transform:translateY(100px);
    }
    100%{
        opacity: 1;
        transform:translate(0);
    }
}

@media screen and (max-width:1024px){
    .container{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    img{
        height: 400px; 
    }

    .textos h1{
        font-size: 35px;
    }

    .textos a{
        width: 120px;
    }

    .textos h2{
        font-size: 25px;
        align-content: space-around;
        display: block;
        padding-right: -10px;
        padding-bottom: 30px;
    }

    table{
        text-align: center;
        width: 80%;
    }

    img{
        height: auto;
        width: auto;
    }

    img, table{
        height: 400px;
        padding-top: 10px;
        margin: 60px;
    }
}

@media screen and (max-width:800px){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
}

@media screen and (max-width:700px){
    img{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
        text-align: center;
        margin-left: -20px;
    }

   .iniciar a{
        padding: 0px;
        margin: 0px 0px;
        margin-left: -20px;
     }

    header{
        padding: 40px;
    }
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        height: 100%;
        text-align: center;
    }

    .textos h1{
        font-size: 60px;
        padding-right: 50px;
    }

    .textos h2{
        font-size: 25px;
        padding-top: 300px;  
        padding-bottom: 25px;   
    }

    img{
        padding-top: 15px;
        margin: 10px;
        width: 200px;
        height: 200px;
    }
    
    table{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        padding-top: 20px;
        margin: 0px;
    }

    img, table{
        height: 200px;
    }
}

@media screen and (max-width:340px){
    img{
        height: 100px;
        width: auto;
    }
    .textos h1{
        font-size: 35px;
    }

    .textos a{
        width: 120px;
    }

    .textos h2{
        font-size: 15px;
    }

    table{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        margin-left: 10px;
        width: 100%;
    }

    img, table{
        height: 250px;
    }

    tr{
        padding: 0px;
    } 
}