/*Style CSS*/
body{
    background-color:#F8F9F9;
}

.wave{ 
    background: #F8F9F9;
}
 
footer{
    background:#F8F9F9;
}

.main-header{ 
    background:#F8F9F9;
}
 
.background-overlay{ 
    background:#F8F9F9;
}

.e-color{
 color: #FFA000 !important;
}

.navbar{
    box-shadow: 2px 2px 5px #000;
}

.navbar .nav-item .nav-link{
    color:#F8F9F9;
}