/******************************************************/
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
    
    .wave{
        height: 100px;
        width: 100%; 
    }

    .main-header{
        position:relative;    
        background-size: cover;
        min-height: 500px;
    }

    .background-overlay{ 
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }

    .table-tab{
        overflow-y:100%;
    }

    .trans{
        width: 400px;
        display: flex;
        justify-content: center;
    }

    .e-boton{
        margin: 10px !important;
    }
    
    .pd-5, .py-5{
        padding-top:0.5rem !important;
        padding-bottom: 0.5 !important;
    }
    
    .fix-bar-e{
        display: flex;
        width: auto;
        height: 80px;
    }
    
    .fix-styl{
        display: inline-block;
        height: 200px;        
        width: auto;
        line-height: 3.5;
    }
    
    body, .modal-content, .modal-body, .modal-footer, .modal-dialog {
        line-height: 22px;
    }
    
    .py-4{
        padding-bottom:0.5rem !important;
        padding-top: 0.5rem !important;    
    }
    
    .form-group{
        margin-bottom: 0.5rem;
    }
    
    .py-2{
        padding-bottom: 0.1vh !important;
    }
    
    .fix-st{
        display: block;
        margin-block-start: -28px;
        margin-block-end: -2vh;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .navbar{
        opacity: 1;
        padding: 0.5rem 0.5rem;
    }
    
    .e-texto-one{
        margin-left: 0px; 
    } 
    
    .e-img{
        width:30%;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .e-logo-p{
        width:50%;
    }

    .e-t{
        font-size:20px;
    }

    .e-t-t{
        display: none !important;
    }

    .navbar-dark .navbar-toggler {
        display: none !important;
    }
    
}

/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    
    .wave{
        height: 100px;
        width: 100%; 
    }

    .main-header{
        position:relative;    
        background-size: cover;
        min-height: 500px;
    }

    .background-overlay{ 
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }

    .table-tab{
        overflow-y:100%;
    }

    .trans{
        width: 400px;
        display: flex;
        justify-content: center;
    }

    .e-boton{
        margin: 10px !important;
    }
    
    .pd-5, .py-5{
        padding-top:0.5rem !important;
        padding-bottom: 0.5 !important;
    }
    
    .fix-bar-e{
        display: flex;
        width: auto;
        height: 80px;
    }
    
    .fix-styl{
        display: inline-block;
        height: 200px;        
        width: auto;
        line-height: 3.5;
    }
    
    body, .modal-content, .modal-body, .modal-footer, .modal-dialog {
        line-height: 22px;
    }
    
    .py-4{
        padding-bottom:0.5rem !important;
        padding-top: 0.5rem !important;    
    }
    
    .form-group{
        margin-bottom: 0.5rem;
    }
    
    .py-2{
        padding-bottom: 0.1vh !important;
    }
    
    .fix-st{
        display: block;
        margin-block-start: -28px;
        margin-block-end: -2vh;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .navbar{
        opacity: 1;
        padding: 0.5rem 0.5rem;
    }
    

    .e-texto-one{
        margin-left: 0px; 
    }
    
    .e-img{
        display: flex;
        width:40%;
    }

    .e-logo-p{
        width:50%;
    }

    .e-t{
        font-size:20px;
    }

    .navbar-dark .navbar-toggler {
        display: inline-block !important;
        margin-left: 300px !important;
        padding: 10px !important;    
    }

    .e-t-t{
        display: none !important;
    }

    .navbar-dark .navbar-toggler {
        display: none !important;
    }
}

/*Medium devices (tablets, less than 768px)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

    .wave{
        height: 100px;
        width: 100%; 
    }

    .main-header{
        position:relative;    
        background-size: cover;
        min-height: 500px;
    }

    .background-overlay{ 
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }

    .table-tab{
        overflow-y:100%;
    }

    .trans{
        width: 400px;
        display: flex;
        justify-content: center;
    }

    .e-boton{
        margin: 10px !important;
    }
    
    .pd-5, .py-5{
        padding-top:0.5rem !important;
        padding-bottom: 0.5 !important;
    }
    
    .fix-bar-e{
        display: flex;
        width: auto;
        height: 80px;
    }
    
    .fix-styl{
        display: inline-block;
        height: 120px;        
        width: auto;
        line-height: 1.5;   
    
    }
    
    body, .modal-content, .modal-body, .modal-footer, .modal-dialog {
        line-height: 22px;
    }

    .fix-wave{
        width: 100px;
    }
    
    .py-4{
        padding-bottom:0.5rem !important;
        padding-top: 0.5rem !important;    
    }
    
    .form-group{
        margin-bottom: 0.5rem;
    }
    
    .py-2{
        padding-bottom: 0.1vh !important;
    }
    
    .fix-st{
        display: block;
        margin-block-start: -28px;
        margin-block-end: -2vh;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .navbar{
        opacity: 1;
        padding: 0.5rem 0.5rem;
    }
    

    .e-img{
        display: flex;
        width: 40%;
        margin-top: -20px;
        padding-left: 50px;
    }

    .e-t{
        font-size:40px;
    } 

    .fix-dis{
        padding-top:1rem !important;
        padding-bottom: 1rem !important;
    }

    .fix-you{
        display: block;        
        margin-top: -211px;
        margin-top:23vh;
    }
    
    .e-t-t{
        display: none !important;
    }

    .navbar-dark .navbar-toggler {
        display: none !important;
    }    

    .e-logo-p{
        width:40%;
    }
}

/*Large devices (desktops, less than 992px)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
    .wave{
        height: 100px;
        width: 100%; 
    }

    .main-header{
        position:relative;    
        background-size: cover;
        min-height: 500px;
    }

    .background-overlay{ 
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }

    .table-tab{
        overflow-y:100%;
    }

    .trans{
        width: 400px;
        display: flex;
        justify-content: center;
    }

    .e-boton{
        margin: 10px !important;
    }
    
    .pd-5, .py-5{
        padding-top:0.5rem !important;
        padding-bottom: 0.5 !important;
    }
    
    .fix-bar-e{
        display: flex;
        width: auto;
        height: 80px;
    }
    
    .fix-styl{
        display: inline-block;
        height: 200px;        
        width: auto;
        line-height: 3.5;
    }
    
    body, .modal-content, .modal-body, .modal-footer, .modal-dialog {
        line-height: 22px;
    }
    
    .py-4{
        padding-bottom:0.5rem !important;
        padding-top: 0.5rem !important;    
    }
    
    .form-group{
        margin-bottom: 0.5rem;
    }
    
    .py-2{
        padding-bottom: 0.1vh !important;
    }
    
    .fix-st{
        display: block;
        margin-block-start: -28px;
        margin-block-end: -2vh;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .navbar{
        opacity: 1;
        padding: 0.5rem 0.5rem;
    }
    

    .fix-styl{
        display: inline-block;
        height: 200px;        
        width: auto;
        overflow: hidden;       
    }
    
    .fix-t {
        font-size: 4rem;    
    }

    .e-texto-one{
        margin-left: 650px; 
    }
    
    .e-img{
        display: flex;
        width:30%;
        margin-top:0px;
        padding-left:40px;        
    }

    .e-logo-p{
        width:60%;
    }

    .e-t{
        font-size:40px;
    }

    .e-t-t{
        display: none;
    }

    .navbar-dark .navbar-toggler {
        display: none !important;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 1200px){ 
    
    .wave{
        height: 100px;
        width: 100%; 
    }

    .main-header{
        position:relative;    
        background-size: cover;
        min-height: 500px;
    }

    .background-overlay{ 
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }

    .table-tab{
        overflow-y:100%;
    }

    .trans{
        width: 400px;
        display: flex;
        justify-content: center;
    }

    .e-boton{
        margin: 10px !important;
    }
    
    .pd-5, .py-5{
        padding-top:0.5rem !important;
        padding-bottom: 0.5 !important;
    }
    
    .fix-bar-e{
        display: flex;
        width: auto;
        height: 80px;
    }
    
    .fix-styl{
        display: inline-block;
        height: 90px;        
        width: auto;
        line-height: 3.5;       
    }
    
    body, .modal-content, .modal-body, .modal-footer, .modal-dialog {
        line-height: 22px;
    }
    
    .py-4{
        padding-bottom:0.5rem !important;
        padding-top: 0.5rem !important;    
    }
    
    .form-group{
        margin-bottom: 0.5rem;
    }
    
    .py-2{
        padding-bottom: 0.1vh !important;
    }
    
    .fix-st{
        display: block;
        margin-block-start: 0x;
        margin-block-end: -2vh;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .navbar{
        opacity: 1;
        padding: 0.5rem 0.5rem;
    }
    

    body, .modal-content, .modal-body, .modal-footer, .modal-dialog {
        line-height: 1.6vh;
    }

    .e-img{
        width:30%;
    }
    .e-logo-p{
        width:20%;        
    }
    .e-t{
        font-size:20px;
        margin-left: 1200px;
    }

    .e-t-t{
        display: none;
    }

    .navbar-dark .navbar-toggler {
        display: none !important;
    }   

    .h1, h1 {
        font-size: 2.5rem;
        margin-top:-50px;
    }

    .fix-you{
        display:block;        
        margin-top:-9h;
        width: auto;
        height: 127px;
    }
}
/******************************************************/