.textc,a{
    color: #0288D1;
}

@media (min-width: 992px){
    .header-fixed .app-body {
        margin-top: 55px;
    }
}

.app-body{
    display: flexbox;
    flex-grow: 0;
}

.content {
    min-height: 550px;
}


/*---------------------------------------------------------------------------------------------------------*/
/*Codigo para animar textarea para los formulario*/
.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea.md-form label.active {
    color: #ffa000;
}

.active-amber-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea-2.md-form label.active{
    color: #ffa000;
}
.active-amber-textarea-2.md-form label input{
    color: #ffa000;
}
.lineA{
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
} 

.lineB{
    border-bottom: 1px solid #00c853;
    box-shadow: 0 1px 0 0 #00c853;
} 
.search{
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 1px #ffa000;
}
/*---------------------------------------------------------------------------------------------------------*/
.file-field.big .file-path-wrapper {
    height: 3.2rem; }
    .file-field.big .file-path-wrapper .file-path {
    height: 3rem; }
/*---------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px){
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; 
        max-width: 100%;
    }
}

.container {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.box-header {
    color: #444;
    display: block;
    padding: 0px;
    position: relative;
}

.content {
    padding:0px;
}

@media (max-width: 991.98px){
    .app-header {
    margin: 5px;
    }
}

.right-side, .main-footer {
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
}
/*---------------------------------------------------------------------------------------------------------*/
.aol{
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
} 
/*---------------------------------------------------------------------------------------------------------*/
/*.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file, .aolq {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 0;
}*/
/*---------------------------------------------------------------------------------------------------------*/
#datoy{
    display: display;
}
/*---------------------------------------------------------------------------------------------------------*/
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
/*---------------------------------------------------------------------------------------------------------*/