.textc,a{
    color: #0288D1;
}

@media (min-width: 992px){
    .header-fixed .app-body {
        margin-top: 55px;
    }
}

.app-body{
    display: flexbox;
    flex-grow: 0;
}

.content {
    min-height: 550px;
}